/Hello World/nbproject/private/
/Hello World/build/
/Person/nbproject/private/
/Person/build/
/Person2/nbproject/private/
/Person2/build/
/MathOperations/nbproject/private/
/MathOperations/build/
/Booleans/nbproject/private/
/Booleans/build/
/Scanner/nbproject/private/
/Scanner/build/
/Quiz/nbproject/private/
/Quiz/build/